.contactBody {
  height: 100%;
  display: flex;
}

.contactMe {
  top:0px;
  left:0px;
  height: 100vh;
  position: absolute;
  z-index: 4;
  width: calc(65%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactMe h1,
.contactMe h6 {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

.contactMe h1 {
  width: 500px;
  font-size: 58px;
  height: 58px;
  padding: 0px;
  font-weight: 800;
  letter-spacing: 4px;
  color: var(--summer);
  margin-top: 0px;
  margin-bottom: 0px;
}

.contactMe h6 {
  width: 500px;
  font-size: 15px;
  letter-spacing: 0.8px;
  font-weight: 300;
}

.contactContainer {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.contactForm div {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.contactForm div:nth-child(2) {
  align-items: flex-end;
}

.contactForm div:nth-child(3) {
  grid-column: 1 / span 2;
  padding-bottom: 20px;
}

.contactForm div:nth-child(4) {
  width: 500px;
  grid-column: 1 / span 2;
  padding-bottom: 0px;
  align-items: center;
}

.contactForm label {
  width: 200px;
  padding-bottom: 4px;
}

.contactForm input {
  border: 1px solid var(--summer);
  background-color: var(--main-dark);
  padding: 4px;
  border-radius: 2px;
  width: 200px;
  font-family: "input-mono", monospace;
}

.contactForm textarea {
  width: 500px;
  height: 200px;
  border: 1px solid var(--summer);
  border-radius: 2px;
  background-color: var(--main-dark);
  font-family: "input-mono", monospace;
}

.contactForm button {
  width: 120px;
  padding: 6px 12px;
  border: 1px solid var(--summer);
  background-color: var(--main-dark);
  border-radius: 4px; 
  font-family: "input-mono", monospace;
}

@media (max-width: 750px) {
  .contactMe {
    width: 100vw;
  }

  .contactMe h1  {
    font-size: 40px;
    width: calc(100vw - 2rem);
    filter: drop-shadow(2px 2px 0.5px var(--main-dark));
    margin-top: 0px;
    padding-left: 5px;
  }

  .contactMe h6 {
    padding-left: 5px;
  }

  .contactForm {
    grid-template-columns: 1fr;
    width: calc(100vw - 2rem);
  }

  .contactForm div:first-child {
    grid-row: 1;
  }

  .contactForm div:nth-child(2) {
    grid-row: 2;
    align-items: flex-start;
  }

  .contactForm div:nth-child(3) {
    grid-row: 3;
  }

  .contactForm textarea {
    width: calc(100vw - 2rem);
  }
  .contactForm div:nth-child(4) {
    width: 120px;
  } 
}