/***** NAVBAR *****/

.navBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.blackout {
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  width: 100vw;
  background: linear-gradient(
    180deg,
    var(--dark-cyan) 10%,
    rgba(29, 32, 32, 0)
  );
  opacity: 0%;
  transition: 0.4s cubic-bezier(0.215, 0.610, 0.355, 1)
}

.blackoutActive {
  z-index: 5;
  position: fixed;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
  height: calc(100vh + 2px);
  background: linear-gradient(
    180deg,
    var(--dark-cyan) 10%,
    rgba(29, 32, 32, 0)
  );
  opacity: 100%;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navLinks {
  z-index: 6;
  position: relative;
  display: flex;
  height: 100%;
}

.navLink {
  padding-left: 2rem;
  padding-top: 8px;
  letter-spacing: 2px;
  color: var(--main-dark);
  font-size: 21px;
  font-weight: 700;
}

.nameHeader {
  position: relative;
  z-index: 6;
  font-size: 26px;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(
    180deg,
    var(--cyan) 18%,
    var(--purple) 78%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
  padding-left: 0.5rem;
  transition: 0.1s;
}

.nameHeaderActive {
  position: relative;
  z-index: 6;
  font-size: 26px;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(
    180deg,
    var(--cyan) 18%,
    var(--purple) 78%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
  padding-left: 0.5rem;
  transition: 0.1s;
  filter: drop-shadow(1px 1px 0.8px var(--main-dark));
}

.nameContain {
  display: flex;
  align-items: center;
}

.nameContain:hover .nameHeader,
.nameContain:hover .logo {
  filter: drop-shadow(0px 0px 0.8px var(--summer));
  transition: 0.1s;
}

.logo {
  position: relative;
  z-index: 6;
  max-height: 55px;
  width: auto;
  transition: 0.1s;
}

.logoActive {
  position: relative;
  z-index: 6;
  max-height: 55px;
  width: auto;
  transition: 0.1s;
  filter: drop-shadow(1px 1px 0.8px var(--main-dark));
}

.typewriter {
  position: absolute;
  top: 120px;
  color: var(--summer);
  font-size: 20px;
}

.hamburger,
.hamburgerActive {
  display: none;
}

/***** MAIN CONTENT *****/

.landingBody {
  height: 100%;
  display: flex;
  align-items: center;
}

.profilePicContainer {
  height: 400px;
  width: 400px;
  position: absolute;
  left: calc(66vw - 200px);
}

.profilePic {
  position: relative;
  z-index: 2;
  height: 400px;
  width: auto;
}

.outline {
  z-index: 1;
  position: absolute;
  transform: translate(25px, 25px);
  height: 100%;
  width: 400px;
  border: 2px solid var(--summer);
}

.mainHeader {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
  min-height: 100%;
  position: relative;
  z-index: 4;
  padding: 0.5rem;
  width: calc(66% - 200px);
}

.mainHeader h1,
.mainHeader h6 {
  text-align: left;
}

.mainHeader h1 {
  width: 500px;
  font-size: 58px;
  font-weight: 800;
  letter-spacing: 4px;
  margin-left: auto;
  margin-right: auto;
  color: var(--summer);
}

.mainHeader h6 {
  width: 500px;
  font-size: 20px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

.burgerLinks, .burgerLinksActive {
  display: none;
}

/***** FOOTER *****/

.navLink:hover {
  color: var(--summer);
}

.footer {
  margin-left: auto;
  display: FLEX;
  justify-content: space-between;
  width: 100%;
}

.footer img {
  margin-left: 1rem;
  transition: 0.05s;
}

.footer div img:hover {
  filter: drop-shadow(0.5px 1px 0.2rem var(--summer));
  transition: 0.05s;
}

.socialsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contactButton {
  z-index: 3;
  display: flex;
  position: relative;
  align-items: center;
  height: 90%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--summer);
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: 0.05s;
}

.contactButton:hover {
  filter: drop-shadow(0.5px 1px 0.2rem var(--summer));
  transition: 0.05s;
}

.messageIcon {
  height: 30px;
  width: auto;
}

/***** BG Icons *****/

.macbook {
  position: absolute;
  display: flex;
  width: calc(71vw - 150px);
  justify-content: center;
  z-index: 1;
  display: none;
  bottom: 0;
  margin-bottom: 20vh;
}

.macbook img {
  width: 400px;
  height: auto;
}

.reactIco {
  position: absolute;
  right: 3vw;
  width: 39%;
  display: flex;
  justify-content: flex-end;
  top: 14vh;
  display: none;
}

.reactIco img {
  width: 23vw;
  height: auto;
}

.jsIco {
  position: absolute;
  right: 3vw;
  width: 39%;
  display: flex;
  justify-content: flex-end;
  bottom: 12vh;
  display: none;
}

.jsIco img {
  width: 23vw;
  height: auto;
}

/***** MEDIA QUERIES *****/

@media (max-width: 1500px) {
  .navLink {
    font-size: 18px;
    letter-spacing: 1.5px;
  }

  .mainHeader h1 {
    width: 420px;
    font-size: 48px;
  }

  .mainHeader h6 {
    width: 420px;
    font-size: 14px;
    text-align: left;
  }

  .main {
    background: linear-gradient(
      90deg,
      #0e0e0f 0%,
      var(--main-dark) 64.9%,
      var(--cyan) 65.1%,
      var(--dark-cyan) 98%
    );
  }

  .profilePicContainer {
    margin-top: 4rem;
    left: calc(65vw - 175px);
  }

  .profilePic {
    width: 350px;
    height: auto;
  }

  .outline {
    width: 350px;
    height: 350px;
  }

  .typewriter {
    font-size: 18px;
  }
}

@media (max-width: 1300px) {
  .navLink {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .nameHeader,
  .nameHeaderActive {
    font-size: 24px;
  }

  .content {
    padding: 2rem;
  }

  .mainHeader {
    padding-left: 6rem;
  }

  .mainHeader h1 {
    width: 420px;
    font-size: 42px;
  }

  .mainHeader h6 {
    width: 420px;
  }

  .typewriter {
    top: 100px;
  }
}

@media (max-width: 1100px) {
  .main {
    background: linear-gradient(
      90deg,
      #0e0e0f 0%,
      var(--main-dark) 70.9%,
      var(--cyan) 71.1%,
      var(--dark-cyan) 98%
    );
  }

  .profilePicContainer {
    left: calc(71vw - 200px);
  }

  .profilePic,
  .outline {
    width: 300px;
    height: 300px;
  }

  .navLinks {
    display: none;
  }

  .hamburger {
    z-index: 7;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    outline-style: none;
    transition: ease 0.3s;
  }

  .hamburger span,
  .hamburgerActive span {
    position: relative;
    z-index: 6;
    border-radius: 1.5px;
    width: 40px;
    height: 5px;
    background-color: var(--main-dark);
    margin-top: 3px;
    margin-bottom: 3px;
    transition: ease 0.3s;
  }

  .hamburger:hover span:nth-child(2) {
    background-color: var(--summer);
    opacity: 90%;
    transform: translateX(12px);
    transition: ease 0.2s;
  }

  .hamburgerActive {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    outline-style: none;
    transition: ease 0.3s;
  }

  .hamburgerActive span:nth-child(1) {
    transform: translate(-6px, 17px) rotate(45deg);
    transition: ease 0.3s;
  }

  .hamburgerActive span:nth-child(2) {
    background-color: var(--summer);
    opacity: 0%;
    transform: translateX(30px);
    transition: ease 0.3s;
  }

  .hamburgerActive span:nth-child(3) {
    transform: translate(-6px, -5px) rotate(135deg);
    transition: ease 0.3s;
  }

  .hamburgerActive:hover span {
    background-color: var(--summer);
    transition: ease 0.3s;
  }

  .burgerLinks, .burgerLinksActive {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    right: 0px;
    margin-top: 60px;
    text-align: right;
  }

  .burgerLinks .navLink, .burgerLinksActive .navLink {
    padding-top: 22px;
    padding-right: 2.5rem;
    font-size: 24px;
    letter-spacing: 1px;
    filter: drop-shadow(1px 1px 0.8px var(--cyan));
  }

  .burgerLinks .navLink {
    transform: translateX(300px);
  }

  .burgerLinks .navLink:first-child, .burgerLinksActive .navLink:first-child{
    transition: 0.3s;
  }

  .burgerLinks .navLink:nth-child(2), .burgerLinksActive .navLink:nth-child(2) {
    transition: 0.45s;
  }

  .burgerLinks .navLink:nth-child(3), .burgerLinksActive .navLink:nth-child(3) {
    transition: 0.6s;
  }



  .mainHeader {
    padding-left: 3rem;
  }

  .mainHeader h1 {
    width: 420px;
  }

  .mainHeader h6 {
    width: 420px;
  }
}

@media (max-width: 950px) {
  .macbook,
  .jsIco,
  .reactIco {
    display: none;
  }

  .macbook {
    margin-left: 3rem;
    margin-top: 30vh;
  }

  .landingBody {
    align-items: flex-start;
  }

  .profilePicContainer {
    width: 300px;
    height: 300px;
    margin-top: calc(25vh - 150px);
    left: calc(65vw - 125px);
  }

  .mainHeader {
    padding-top: 4rem;
    padding-left: 2rem;
  }

  .mainHeader h6 {
    width: 320px;
  }

  .mainHeader h1 {
    font-size: 34px;
    width: 320px;
  }
}

@media (max-width: 800px) {
  .profilePicContainer,
  .profilePic,
  .outline {
    width: 250px;
    height: 250px;
  }

  .profilePicContainer {
    left: calc(71vw - 125px);
    margin-top: 4vh;
  }

  .mainHeader {
    padding-left: 1rem;
  }

  .burgerLinks .navLink, .burgerLinksActive .navLink {
    font-size: 20px;
    padding-right: 1.7rem;
  }
}

@media (max-height: 700px) and (max-width: 800px) {
  .profilePicContainer,
  .profilePic,
  .outline {
    width: 250px;
    height: 250px;
  }

  .profilePicContainer {
    left: calc(71vw - 125px);
  }
}

@media (min-height: 900px) {
  .profilePicContainer {
    top: 0px;
    padding-top: 0px;
  }
}

@media (min-height: 900px) and (max-width: 950px) {
  .jsIco,
  .reactIco {
    display: flex;
  }
}

@media (min-height: 900px) and (min-width: 1100px) {
  .jsIco,
  .reactIco {
    display: none;
  }

  .profilePicContainer {
    width: 300px;
    height: 300px;
    top: 0px;
    margin-top: calc(50vh - 160px);
  }

  .jsIco img,
  .reactIco img {
    width: 30vw;
  }
}

@media (min-height: 900px) and (min-width: 1500px) {
  .profilePicContainer {
    width: 400px;
    height: 400px;
    top: 0px;
    margin-top: calc(50vh - 215px);
  }

  .mainHeader h6 {
    width: 500px;
  }
}

@media (min-height: 1100px) and (max-width: 1000px) {
  .mainHeader h6 {
    width: 420px;
  }
}

/***** MOBILE QUERIES *****/

@media (max-width: 750px) {
  .main {
    background: linear-gradient(
      90deg,
      #0e0e0f 0%,
      var(--main-dark) 64.9%,
      var(--cyan) 65.1%,
      var(--dark-cyan) 98%
    );
  }

  .content {
    padding: 1.2rem;
  }

  .landingBody {
    flex-direction: column;
  }

  .nameHeader,
  .nameHeaderActive {
    font-size: 18px;
  }

  .logo,
  .logoActive {
    width: 45px;
    height: auto;
  }

  .typewriter {
    font-size: 12px;
    letter-spacing: 1px;
    top: 80px;
  }

  .mainHeader {
    margin-top: -60px;
    padding-top: 0px;
    width: calc(100vw - 2.4rem);
    padding-left: 0px;
  }

  .mainHeader h1 {
    font-size: 38px;
    width: 400px;
    filter: drop-shadow(2px 2px 0.6px var(--main-dark));
    margin-top: 12px;
    margin-bottom: 0px;
  }

  .mainHeader h6 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.6px;
    width: 100vw;
    margin-top: 26px;
    margin-bottom: 0px;
    margin-left: -1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    background: linear-gradient(90deg, var(--cyan) 65%, var(--main-dark) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .socialsContainer {
    align-items: center;
  }

  .socialsContainer img {
    margin-left: 12px;
  }

  .hamburger {
    margin-top: 4px;
    margin-right: 4px;
  }

  .profilePicContainer {
    position: relative;
    width: 100vw;
    height: 100%;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(26vh - 200px);
    padding-top: 2rem;
  }

  .profilePic,
  .outline {
    margin-top: 0px;
    width: 200px;
    height: 200px;
  }
}

@media (max-height: 500px) {
  .content {
    padding: 1.2rem;
  }

  .profilePicContainer {
    left: calc(71% - 100px);
    margin-top: 10px;
    padding-top: 0px;
  }

  .profilePic,
  .outline {
    width: 180px;
    height: 180px;
  }

  .nameHeader,
  .nameHeaderActive {
    font-size: 18px;
  }

  .logo,
  .logoActive {
    width: 45px;
    height: auto;
  }

  .typewriter {
    font-size: 12px;
    letter-spacing: 1px;
    top: 80px;
  }

  .landingBody {
    display: flex;
    justify-content: flex-start;
  }

  .mainHeader {
    padding-top: 0px;
    width: calc(100vw - 2.4rem);
    padding-left: 0px;
  }

  .mainHeader h1 {
    font-size: 38px;
    width: 400px;
    filter: drop-shadow(2px 2px 0.6px var(--main-dark));
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3rem;
    margin-right: 0px;
  }

  .mainHeader h6 {
    font-size: 13px;
    width: 340px;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 3rem;
  }

  .hamburger {
    margin-top: 4px;
    margin-right: 4px;
  }
}
