.portfolioBody {
  height: 100%;
  display: flex;
}

.portfolio {
  top:0px;
  left:0px;
  height: 100vh;
  position: absolute;
  z-index: 4;
  width: calc(65%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolioContainer {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio h1,
.portfolio h6 {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

.portfolio h1 {
  width: 500px;
  font-size: 58px;
  font-weight: 800;
  letter-spacing: 4px;
  color: var(--summer);
  margin-top: 0px;
  margin-bottom: 0px;
}

.portfolio h2 {
  margin-top: 4px;
  margin-bottom: 8px;
  width: 500px;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--summer);
}

.projectModule {
  width: 500px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
}

.leftArrowContainer {
  display: flex;
  position: absolute;
  align-items: center;
  height: 300px;
  width: 40px;
  transform: translateX(-60px);
}

.rightArrowContainer {
  display: flex;
  position: absolute;
  align-items: center;
  height: 300px;
  width: 40px;
  transform: translateX(510px);
}

.lArrow {
  position: absolute;
  height: 60px;
  width: auto;
  transition: 0.15s;
}

.rArrow {
  position: absolute;
  height: 60px;
  width: auto;
  transition: 0.15s;
}

.lArrow:hover, .rArrow:hover {
  filter: drop-shadow(0px 0px 6px var(--summer));
  /* transform: rotateY(360deg); */
}

.projectThumbnail {
  width: auto;
  height: 160px;
}

.projectBody {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;

}

.portfolioLink {
  margin-top: auto;
  width: 100%;
  text-align: right;
  font-size: 20px;
}

.portfolioLink:hover {
  color: var(--summer);
}

.projectModule h6 {
  width: 100%;
  font-size: 13px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 85px;
}